In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.1.5'

In [ ]:
series1 = [1,2,-3,6.2,'hello']

In [ ]:
print(series1)

[1, 2, -3, 6.2, 'hello']

In [ ]:
 series2 = pd.Series(series1)
 print(series2)

0        1
1        2
2       -3
3      6.2
4    hello
dtype: object

In [ ]:
type(series2)

pandas.core.series.Series

In [ ]:
series3 = pd.Series([1,2,3,4])
print(series3)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
empty = pd.Series([])
print(empty)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
series4 = pd.Series([1,2,3,4], index=['a','b','c','d'], dtype=float, name='data_values')
print(series4)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data_values, dtype: float64

In [ ]:
scalar_s = pd.Series(0.5)
print(scalar_s)

0    0.5
dtype: float64

In [ ]:
scalar_s = pd.Series(0.5, index=[1,2,3,4])
print(scalar_s)

1    0.5
2    0.5
3    0.5
4    0.5
dtype: float64

In [ ]:
dict_s = pd.Series({'a':1,'b':2,'c':3})
dict_s

a    1
b    2
c    3
dtype: int64

In [ ]:
s4 = pd.Series([1,2,3,4,5])
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s4[0]

1

In [ ]:
s4[2]

3

In [ ]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [ ]:
max(s4)

5

In [ ]:
min(s4)

1

In [ ]:
s4[s4 > 3]

3    4
4    5
dtype: int64

In [ ]:
s4[s4 < 3]

0    1
1    2
dtype: int64

In [ ]:
s4[s4 == 3]

2    3
dtype: int64

In [ ]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s5 = pd.Series([1,2,3,4,5])

In [ ]:
s = s4 + s5

In [ ]:
s

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [ ]:
ser = pd.Series([1,2,3,4])
ser

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
ss = pd.Series(s + ser, dtype=int)

In [ ]:
ss

0     3.0
1     6.0
2     9.0
3    12.0
4     NaN
dtype: float64

#Pandas_Dataframe

In [ ]:
import pandas as pd

In [ ]:
emp_df = pd.DataFrame()
print(emp_df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
lst = ['a','b','c','d']
lst

['a', 'b', 'c', 'd']

In [ ]:
df = pd.DataFrame(lst)
df

   0
0  a
1  b
2  c
3  d

In [ ]:
lst_of_lst = [[1,2,3,4],[4,5,6,7],[7,8,9,10]]
lst_of_lst

[[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 10]]

In [ ]:
df1 = pd.DataFrame(lst_of_lst)
df1

   0  1  2   3
0  1  2  3   4
1  4  5  6   7
2  7  8  9  10

In [ ]:
dict = {'ID':[11,22,33,44]}
dict

{'ID': [11, 22, 33, 44]}

In [ ]:
df2 = pd.DataFrame(dict)
df2

   ID
0  11
1  22
2  33
3  44

In [ ]:
dict1 = {'ID':[11,22,33,44], 'Ph#':[8,7,6,5]}
print(dict1)

{'ID': [11, 22, 33, 44], 'Ph#': [8, 7, 6, 5]}

In [ ]:
df3 = pd.DataFrame(dict1)
df3

   ID  Ph#
0  11    8
1  22    7
2  33    6
3  44    5

In [ ]:
lst_dict = [{'a':1, 'b':2}, {'a':3, 'b':4}]
df5 = pd.DataFrame(lst_dict)
df5

   a  b
0  1  2
1  3  4

In [ ]:
lst_dict = [{'a':1, 'b':2}, {'a':3, 'b':4, 'c':5}]
df5 = pd.DataFrame(lst_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [ ]:
dict_sr = {'ID': pd.Series([1,2,3,4]), 'Ph#': pd.Series([9,8,7,6])}
df9 = pd.DataFrame(dict_sr)
df9

   ID  Ph#
0   1    9
1   2    8
2   3    7
3   4    6